<!--
File Name: 500.html

Author: Kelemen Szimonisz
Organization: Map Culture (University of Oregon, CIS422, FALL 2021)

Creation Date: 10/19/2021
Last Modified: 10/19/2021
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 1</title>
    <meta charset="utf-8">
  </head>

  <body>
    <div class="container">
      <div class="center">
        <div class="row">
          <h1>500: Internal server error! (Not sure what happened there)<h1>
        </div>
      </div>
    </div> <!-- container -->
  </body>
</html>

