<!DOCTYPE html>
<html> 
  <head>
    <title>CIS 422: Project 1</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/index.js"></script>
  </head>

  <body>
    <div class="container">
      <div class = "center">
        <div class="row">
          <h1>Enter a set of coordinates!</h1>
        </div>
        <div class="row">
          <form id="destEntry">
            <label for="origin">Origin:</label>
            <input id="origin" name="origin" type="text" width="10" autocomplete="off"/>
            <label for="dest1">Destination 1:</label>
            <input class="destInput" id="dest1" name="dest1" type="text" width="10" autocomplete="off"/>
            <input type="submit" value="submit">
          </form>

          <button id="addDest" name="addDest" type="button">Add destination</button>
        </div>
      </div>
    </div> <!-- container -->
    <div id="map"></div> <!-- This is where the map will be inserted -->
  </body> 
</html>
