/*
Statement: Describes the attribute styles for login.html
Authors: Liam Dauphinee, Kaiser Slocum
Team: Map Culture (Team 5)
Date Last Edited: 10/29/2021
*/

/* We set the default font and that all structures won't have padding or margin */ 
html,*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}
/* We establish our background image */
body {    
    background-image: url("desert.jpg");
    background-size: cover;
}
/* This positions our entire box of controls in the center of the screen */
/* We also get to stylize our box */
.form-box{
    width: 300px;
    height: 400px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(255, 217, 0, 0.171);
    border: 5px solid;      
}
/* The button box just affects the positioning of the login/register toggle button */
.button-box{
    width: 220px;
    top: 60px;
    position: absolute;
    margin-left: 40px;
}
/* Redirects users to the home page */
a{
    position: relative;    
    top: 20px;
    left: 10px;
    margin: 5%;
    text-align: center;
    padding: 10px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 5px;
    background: linear-gradient(to right, brown, #ffad06);
    color: black;
    text-decoration: none;
}
/* When users hover, we want to let them know this is a link */
a:hover,.submit-btn:hover,.toggle-btn:hover{
    color: rgb(28, 196, 28);
    font-weight: bold;
}
/* This affects the login/register toggle button */
.toggle-btn{
    padding: 10px 30px;
    width: 50%;
    background: linear-gradient(to right, brown, #ffad06);
    border: 0;
}
/* To create a sort of rainbow effect, we have to reverse the colors on the last one */
/* Also, to avoid the gap, the last button has to be moved to the left a little */
.toggle-btn:last-of-type{
    background: linear-gradient(to right, #ffad06, brown);
    margin-left: -5px;    
}
/* This affects the location of the input fields and the login/register buttons */
.input-group{
    top: 180px;
    position: absolute;
    width: 208px;
    /* transition is for the "swoosh" motion of moving between login and register */
    transition: .5s;
}
/* This affects the input text boxes */
.input-field{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-radius: 10px;
    background-color: white;
}
/* This affects the "login" or "register" buttons at the bottom of the main form */
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
/* This makes sure the check box is correctly positioned */
.check-box{
    margin: 30px 10px 30px 0;
}
/* This is for the words next to the check box */
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
/* Positions the login form box and the register form box */
#login{
    left: 50px;
}
#register{
    left: 450px;
}