/*
Author: Kelemen, Kaiser
Lasted edited by: Kelemen
Date last edited: 10/30/2021
*/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. (source: Google API reference) */
html,
body {
    height:100%;
    width:100%;
    margin: 0px;
    padding:0px;
    /* background source: https://commons.wikimedia.org/wiki/File:MarquamBridgeHill.jpg */
    background-image: url("background.jpg");
}

/* container will span the entire width and height of the webpage */
.container {  
  width: 100vw;
  height:100vh;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 15px;
  /* define the container as a grid container */
  display: grid;
  /* three columns (three values seperated by space, sized by fraction of available space*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

/* Contains the home and account link buttons*/
.header {
    background-color: rgba(0,128,128,0.5);
    color: green;
    font-size:15px;
    font-weight:none;
    border: 3px solid #000000;
    /* specify the grid line numbers */
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius:25px;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
/* Contains the controls and text input form for the Google map */
.side {
    border: 3px solid #000000;
    background-color: rgba(0,128,128,0.5);
    grid-row-start: 2;
    border-radius:25px;
    padding:20px;
}
/* Controls the position of the logo */
.imagelocation {
  display:flex;
  align-items:center;
  justify-content:center;
}
/* Controls the size of the image */
img{
   border-radius:25px;
    text-align:Center;
    width:250px;
    height:175px;
}
/* Affects the Origin word */
#dest-form label{
    color:white;
    width: 150px;
    display:inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Affects the positioning of the text boxes and their labels */
#dest-form input{
    width: 500px;
    padding:5px;
    border: 2px solid black;
    border-radius: 5px;
}
/* header link list */
.header li{
    width: 100%;
    list-style: none;
}
/* Controls the position of the home and account links */
.header ul{
    width: 47%;
    float: left;
    padding: 0px;
    text-align: center;    
    font-weight: bold;
}
/* Forces the account link to the right */
.header ul:last-of-type{
    float: right;
}
/* The default color of the link */
a:link, a:visited{
    color: white;
    text-decoration: none;
}
/* If the user is hovering over the link, we need to make the link stand out */
a:hover {
    text-decoration: underline;
    color: brown;
}
/* Controls the positioning of all the buttons */
.button-set{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Controls the formats of the buttons */
button{
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: black;
}
/* Describe the map div's attributes */
#map {
    border: 3px solid #000000;
    background-color: rgba(0,128,128,0.5);
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:4;
    width: 100%;
    height: 100%;
}
h3{
    color:white;
    font-size:15px;
    font-weight:none;
}
.options-container{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 5px;
}

.option-set{
    color:white;
    padding:5px;
    margin:5px;
}
