<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/testmap/static/style.css" />
  </head>

  <body>
    <video id="vid" width="500" height="375" controlsList="nodownload" autoplay loop muted playsinline>
      <source src="/testmap/static/sceniccool.mp4" type="video/mp4" />
    </video>
    <nav>
      <img src="/testmap/static/mapculturelogo.png" >
      <li>
        <ul> <a href="/testmap">About us</a> </ul>
        <ul> <a href="/testmap">Account</a> </ul>
        <ul> <a href="/testmapmap">Map Route</a> </ul>
        <ul> <a href="/testmap">Home</a> </ul>
      </li>
    </nav>    
    <section>
      <h1> A CUTTING EDGE SOFTWARE</h1>
      <h2> <i>Maps of the future</i> </h2>
      <p> Utilize the latest technology in algorithm optimization to reduce waste </p>
      <p> <a href="/testmapmap">Get your route now!</a></p>
    </section>
  </body>
</html>

