<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 1 - About us</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/about/static/style.css" />
  </head>

  <body>
    <nav>
      <li>
        <ul><img src="/testmap/static/mapculturelogo.png" alt="animated logo"></ul>
        <ul><a href="/">Home</a></ul>
      <li>
    </nav>
    <section>
      <a>
        <h1> ABOUT US: </h1>
        <h2> Who is mapculture? </h2>
        <p> We are a group of computer science students at the University of Oregon
        solving the "Travelling Salesman" problem in a <u>loud way</u>.<br><br>
        By utilizing 2 different algorithms to help create efficient routes,
        we have not only solved the problem, but designed the solution to be
        beautifully intuitive.</p>
      </a>
    </section>
  </body>
</html>
