<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 1 - About us</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/about/static/style.css" />
  </head>

  <body>
    <video id="vid" width="500" height="375" controlsList="nodownload" autoplay loop muted playsinline>
      <source src="/about/static/scenicbackground.mp4" type="video/mp4" />
    </video>
    <nav>
      <li>
        <ul><img src="/about/static/mapculturelogo.png" alt="mapculture logo"></ul>
        <ul><a href="/">Home</a></ul>
        <ul><a href="/testmap">Map Route</a></ul>
        <ul><a href="/auth">Account</a></ul>
      <li>
    </nav>
    <section>
      <h1> ABOUT US: </h1>
      <h2> Who is mapculture? </h2>
      <p> We are a group of computer science students at the University of Oregon
      solving the "Travelling Salesman" problem in a <u>loud way</u>.<br><br>
      By utilizing 2 different algorithms to help create efficient routes,
      we have not only solved the problem, but designed the solution to be
      beautifully intuitive.<br><br>
      The amazing people responsible for this project are as follows:<br><br>
      <u>Liam Dauphinee: Database designer & UI: Accounts Designer</u><br><br>
      <u>Kaiser Slocum: Project Manager & Algorithms engineer</u><br><br>
      <u>Kelemen Szimonisz: API Controller, Frontend/backend innovator, & UI: General Dev</u>
      <br><br>
      <u>Sofi Vinas: UI: General Dev & Documentation specialist</u><br><br>
      <u>Jordan Whiteley: Algorithms engineer & UI: Branding</u><br><br><br><br></p>
      <h3>Brought to you by mapculture.co -- Maps of the future.</h3>
    </section>
  </body>
</html>
