/* Always set the map height explicitly to define the size of the div
       * element that contains the map. (source: Google API reference) */
html,
body {
    height:100%;
    width:100%;
    margin: 0px;
    padding:0px;
    background-color: darkcyan;
}
/* container will span the entire width and height of the webpage */
.container {
  width: 100vw;
  height:100vh;

  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 15px;

  /* define the container as a grid container */
  display: grid;

  /* three columns (three values seperated by space, sized by fraction of available space*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 45px;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.header {
    /* specify the grid line number */
    border: 1px solid #000000;
    grid-column-start: 1;
    grid-column-end: 4;
}

.side {
    border: 1px solid #000000;
    grid-row-start: 2;
    grid-row-end: 3;
}
.imagelocation {
  text-align: center;
}
label{
    width: 150px;
    display:inline-block;
}

.map2 {
    border: 1px solid #000000;
    grid-column-start: 2;
    grid-column-end: 4;
}
.footer {
    border: 1px solid #000000;
    grid-column-start: 1;
    grid-column-end: 4;

}
#map {
    width: 100%;
    height: 100%;
}
