<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/references/static/style.css" />
    <link rel="icon" type="image/x-icon" href="/references/static/mapcultureicon2.ico" />
  </head>

  <body>
    <nav>
      <li>
        <ul> <img src="/references/static/mapculturelogo.png" > </ul>
        <ul> <a href="/">Home</a> </ul>
        <ul> <a href="/testmap">Map Route</a> </ul>
        <ul> <a href="/login">Account</a> </ul>
        <ul> <a href="/about">About us</a> </ul>
      </li>
    </nav>
    <section>
      <h1> Algorithm Information</h1>
      <h2> <i>Modern Solution for a Complex Problem</i> </h2>
      <p>Genetic Algorithm:</p>
      <p>Our genetic algorithm transforms the Traveling Salesman Problem (TSP) into a natural evolution heuristic.
      The path that a customer could follow is represented by a Gnome, and the destinations including the source
      is represented by cells inside that Gnome.
      </p>
      <hr>
      <!-- <p>Prim's Minimum Spanning Tree Algorithm:</p> -->
      <p>Prim's Minimum Spanning Tree Algorithm:</p>
      <br>
      <p> <newUl> <a href="https://bradfieldcs.com/algos/graphs/prims-spanning-tree-algorithm/">Prim's Method Info</a> </newUl></p>
      <p>Another way to solve this problem is to use a minimum cost spanning tree from the origin.
        This inherently takes the lowest cost path from the origin point and adds that vertex to the locations visited set.
        Then, using all the edges from the vertices in the locations visited set, it continues to look for the lowest cost path.
        There are no self loops (i.e. location 1 -> location 1). This allows every vertex to be visited via the lowest cost, then,
        from the last vertex added, we go back to the origin as detailed in the project spec.
      </p>
    </section>
  </body>
</html>

