<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/references/static/style.css" />
    <link rel="icon" type="image/x-icon" href="/references/static/mapcultureicon2.ico" />
  </head>

  <body>
    <nav>
      <li>
        <ul> <img src="/references/static/mapculturelogo.png" > </ul>
        <ul> <a href="/">Home</a> </ul>
        <ul> <a href="/testmap">Map Route</a> </ul>
        <ul> <a href="/login">Account</a> </ul>
        <ul> <a href="/about">About us</a> </ul>
      </li>
    </nav>
    <section>
      <h1> Algorithm Information</h1>
      <h2> <i>Modern Solution for a Complex Problem</i> </h2>
      <p>Algorithm Description:</p>
      <p>Our genetic algorithm transforms the Traveling Salesman Problem (TSP) into a natural evolution heuristic.</p>
      <p>The path that a customer could follow is represented by a Gnome, and the destinations including the source <br>
          is represented by cells inside that Gnome.</p>
    </section>
  </body>
</html>

