<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/references/static/style.css" />
    <link rel="icon" type="image/x-icon" href="/references/static/mapcultureicon2.ico" />
  </head>

  <body>
    <nav>
      <li>
        <ul> <img src="/references/static/mapculturelogo.png" > </ul>
        <ul> <a href="/home">Home</a> </ul>
        <ul> <a href="/testmap">Map Route</a> </ul>
        <!-- changed from /login for Account -->
        <ul> <a href="/login">Account</a> </ul>
        <ul> <a href="/about">About us</a> </ul>
      </li>
    </nav>
    <section>
      <h1> Algorithm Information</h1>
      <h2> <i>What we used to build our software</i> </h2>
      <p> Utilize the latest technology in algorithm optimization to reduce waste </p>
    </section>
  </body>
</html>

