/*
Author: Kaiser
Lasted Edited: Kaiser
Date last edited: 10/29/2021
*/

/* Sets defaults */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: black;
}
/* Controls how the video is positioned on the home page */
video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    top:0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
/* Controls the size of our logo */
img {
    width: 150px;
}
/* We don't want those default dots on our list  */
nav li {
  list-style: none;
}
/* Controls the look and layout of our top links/buttons */
nav ul{
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding: 0px;
    font-weight: bold;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
/* The default color of our links */
a:link, a:visited {
  color: white;
  text-decoration: none;
}
/* If the user is hovering over a link, we need to emphasize that it is a link */
a:hover {
  text-decoration: underline;
  color: brown;
}
/* Controls the words on the website */
section {
  clear: left;
  float: center;
  margin: 15%;
  border-radius: 0px 0px 20px 20px;
  color: black;
}
/* Controls the main header */
section h1 {
  font-size: 3em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  text-align: center;
}
/* Controls the secondary header */
section h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
}
/* Controls the looks of the main paragraph */
section p {
  margin: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
/* We don't want our link button to be too far up */
section p:last-of-type {
  margin-top: 5%;
}
/* We need to carefully align the link within the button */
section p a{  
  margin: 5px;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  font-weight: bold;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
