<!--
Statement: Introduces users to the website and supplies access to the other web pages
Authors: Kaiser Slocum
Team: Map Culture (Team 5)
Date last edited: 10/29/2021
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/home/static/style.css" />    
    <link rel="icon" type="image/x-icon" href="/static/mapcultureicon.ico" />
  </head>

  <body>
    <!-- This is the background video -->
    <video id="vid" width="500" height="375" controlsList="nodownload" autoplay loop muted playsinline>
      <source src="/home/static/sceniccool.mp4" type="video/mp4" />
    </video>
    <!-- The navigation module is the links to all the other web pages plus Map Culture's logo -->
    <nav>      
      <li>
        <ul> <img src="/static/mapculturelogo.png" > </ul>  
        <ul> <a href="/">Home</a> </ul>        
        <ul> <a href="/map">Map Route</a> </ul>
        <ul> <a href="/login">Account</a> </ul>
        <ul> <a href="/about">About us</a> </ul>
        <ul> <a href="/references">References</a> </ul>
      </li>
    </nav>   
    <!-- A brief introduction to our software system -->  
    <section>
      <h1> A CUTTING EDGE SOFTWARE</h1>
      <h2> <i>Maps of the future</i> </h2>
      <p> Utilize the latest technology in algorithm optimization to reduce waste </p>
      <p> <a href="/map">Get your route now!</a></p>
    </section>
  </body>
</html>

