<!-- Test doc for sexier website, I need to figure out how to move map and buttons here -->
<!-- getMapOct20th -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/testmap/static/style.css" />
    <script src="/testmap/static/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGpRBsvbbPEHYD0Dgi6MP8G32hMkMC_6U&libraries=places" async=true></script>
  </head>

  <body>
    <div class="container">
      <div class="center">
        <div class="row">
          <h1>Enter a set of addresses!</h1>
        </div>
        <div class="row">
          <form id="dest-form">
            <label for="origin">Origin:</label>
            <input id="origin" name="origin" type="text" width="10" autocomplete="off"/ value="University of Oregon">
            <label for="dest1">Destination 1:</label>
            <input class="dest-entry" id="dest1" name="dest1" type="text" width="10" autocomplete="off" value="Bailey Hill Liquor"/>
            <label for="dest2">Destination 2:</label>
            <input class="dest-entry" id="dest2" name="dest2" type="text" width="10" autocomplete="off" value="The Duck Store"/>
          </form>
          <button id="add-dest-bttn" name="add-dest-bttn" type="button">Add destination</button>
          <button type="submit" id="submit1" value="Genetic" form="dest-form">Map [Genetic]</button>
          <button type="submit" id="submit2" value="MST" form="dest-form">Map [MST]</button>
          </div>
      </div>
    </div> <!-- container -->
    <div id="map"></div> <!-- This is where the map will be inserted -->
  </body>
</html>
