html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

img {
    width: 150px;
}

nav li {
list-style: none;
}

nav ul{
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding: 0px;
    font-weight: bold;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

nav newUl{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    font-weight: bold;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: brown;
}

a:visited {
  color: white;
}

section {
  clear: left;
  float: center;
  margin: 10%;
  border-radius: 0px 0px 20px 20px;
  color: black;
  padding: 0px;
}
section h1 {
  margin: 0px;
  font-size: 3em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  text-align: center;
}
section h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
}
section p {
  margin: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
section p:last-of-type {
  margin-top: 5%;
}
section p a{
  margin: 5px;
  text-align: center;
  font-weight: bold;
    padding: 2px;
    font-weight: bold;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

